body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    padding: 2rem;
    background-color: whitesmoke;
    justify-content: center;
    height: 70vh;
    width: 70vw;
}
.container table{
    border: solid 1px black;
    width: 90%;
}
.container table th, .container table td{
    border: solid 1px black;
    text-align: center;
}